body {
    margin: 100px;
}

section {
    border: 1px solid #e2e2e2;
    padding: 2px 50px 40px;
    width: 79%;
}

.header h1, p{
    margin: 0;
}

.header h1 {
    padding: 25px 0 10px 0;
}


.header p {
    display: flex;
}

.header p:nth-child(2) {
    width: 700px;
}

.header p:nth-child(3) {
    flex-direction: row-reverse;
    margin-top: -20px;
    color: #f86014;
}

.header{
    padding-bottom: 25px;
}

.img-text {
    display: flex;
    justify-content: space-between;
}


.img01 {
    color: #fff;
    background-image: url(IMG01.avif);
    background-size: cover;
    border: 1px solid #ffffff;
    border-radius: 7px;
    height: 300px;
    width: 250px;
}

.img01 h3, h6{
    margin: 5px;
}

.text1{
    padding-top: 250px;
    padding-left: 10px;
}

.img02 {
    color: #fff;
    background-image: url(IMG02.avif);
    background-size: cover;
    border: 1px solid #ffffff;
    border-radius: 7px;
    height: 300px;
    width: 250px;
}

.img02 h3, h6{
    margin: 5px;
}

.text2{
    padding-top: 250px;
    padding-left: 10px;
}

.img03 {
    color: #fff;
    background-image: url(IMG03.avif);
    background-size: cover;
    border: 1px solid #ffffff;
    border-radius: 7px;
    height: 300px;
    width: 250px;
}

.img03 h3, h6{
    margin: 5px;
}

.text3{
    padding-top: 250px;
    padding-left: 10px;
}

.img04 {
    color: #fff;
    background-image: url(IMG04.avif);
    background-size: cover;
    border: 1px solid #ffffff;
    border-radius: 7px;
    height: 300px;
    width: 250px;
}

.img04 h3, h6{
    margin: 5px;
}

.text4{
    padding-top: 250px;
    padding-left: 10px;
}